.secondhead{
    color: aliceblue;
    font-size: 26px;
    padding: 1px;
    font-weight: 500;
    font-family: sans-serif;
}
.secondparatext{
    color: aliceblue;
}
.vbox{
    width:600px;
}
.leftpara{
    color: aliceblue;
}
.rightpara{
    color: aliceblue;
}
.compsectext{
    color: antiquewhite;
    font-family:serif;
}
.aboutpara{
    color: aliceblue;
}
.abouttext{
    color: aliceblue;
}
.formitems{
    color: aliceblue;
    font-size: medium;
    font-family:Helvetica;
}
.btn{
    width: 100%;
}
.nav-link{
    color: aliceblue;
    font-size: medium;
    font-weight: 300;
}
.navbar-brand{
    font-size: medium;
    font-weight: 400;
    font-family: sans-serif;
}
.head{
   width:100%;
   z-index: 1;
}

